.catalog {
  //   .section-size {
  //     max-width: 1170px;
  //     margin: 38px 9%;
  //     margin: 0px auto;
  //     @media (max-width: 1124px) {
  //         justify-content: space-around;
  //         max-width: 900px;
  //       }

  .flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: auto;
    max-width: 1320px;
    @media (max-width: 1130px) {
      // justify-content: space-around;
      max-width: 900px;
      justify-content: flex-start;
      // outline: 1px solid #30d621;
    }
    @media (max-width: 870px) {
      // width: ;
    }
  }

  .catalog__h2 {
    font-family: Cera Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #333333;
  }
  .catalog__h3 {
    font-family: Cera Pro;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #000000;
    @media (max-width: 660px) {
      margin: 0px;
      font-weight: 500;
      font-size: 14px;
      line-height: 18px;
    }
  }
  .catalog__block-over {
    // outline: 1px solid red;
    overflow: hidden;
    height: 300px;
    margin: 15px 0px;
    width: 25%;
    &:hover {
      overflow: visible;
      z-index: 2;
    }
    @media (max-width: 1130px) {
      width: 33.333%;
      min-width: 230px;
    }
    @media (max-width: 860px) {
      width: 50%;
    }
    @media (max-width: 660px) {
      overflow: hidden;
      height: 168px;
      min-width: 100px;
    }
  }
  .activ {
    display: none;
    @media (max-width: 660px) {
      display: block;
    }
  }
  .not-active {
    // display: block;
    @media (max-width: 660px) {
      display: none;
    }
  }
  .catalog__block {
    // width: 25%;
    background: #ffffff;
    &:hover {
      background: #ffffff;
      box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
      border-radius: 3px;
      width: 100%;
    }

    @media (max-width: 660px) {
      // width: 150px;
    }

    img {
      margin: 0px auto;
      display: block;
      width: 255px;
      @media (max-width: 660px) {
        width: 150px;
      }
    }
  }
}
.catalog__catalog__block__list {
  ul {
    padding: 0px;
  }
  li {
    list-style: none;
    text-align: center;
  }
  a {
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #909090;
  }
}

.catalog__catalog__block__category {
  font-family: Cera Pro;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-decoration-line: underline;
  padding-bottom: 5px;
  a {
    color: #333333;
    cursor: pointer;
    text-decoration: none;
  }
  //   }
}
.bbb {
  display: none;
  @media (max-width: 660px) {
    display: block;
  }
}
