/*
 * Все паршалы импортировать в этот файл
 */

@import 'normalize.scss';
@import 'base.scss';
@import 'header.scss';
@import 'stylesheet.scss';
@import 'catalog.scss';
@import 'footer.scss';

.section-size {
  max-width: 1180px;
  // outline: 1px solid red;
  margin: 38px auto;
  padding: 0px 15px;
  @media (max-width: 1124px) {
    padding: 0px;
    margin: 20px 6%;
  }
  @media (max-width: 768px) {
    padding: 0px;
    margin: 20px 6%;
  }
  @media (max-width: 400px) {
    margin: 20px 6%;
  }
}

// .section-size {
//   outline: 1px solid red;
//   margin: 38px auto;
//   // padding: 0 15px;
//   max-width: 1200px;
//   @media (max-width: 768px) {
//   }
//   @media (max-width: 400px) {
//     margin: 20px 6%;
//   }
// }
