/*
 * Все паршалы импортировать в этот файл
 */

@import 'normalize.scss';
@import 'base.scss';
@import 'header.scss';
@import 'stylesheet.scss';
@import 'catalog.scss';
@import 'footer.scss';

.section-size {
  outline: 1px solid red;
  margin: 38px 9%;
  @media (max-width: 768px) {
  }
  @media (max-width: 400px) {
    margin: 20px 6%;
  }
}
